###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/tests/_output/files/
/tests/_output/coverage/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> custom ###
.DS_store
*-firebase-credentials.json
.idea
/.idea/
/.vscode/
/logs/
/mysql/
/postgres/
/docker/build/redis/data/dump.rdb
docker/build/rabbitmq/data
docker/build/rabbitmq/log
helm/*/charts/*.tgz
tests/Unit/Common/ZipExtractor/unzipped/
tests/Unit/Core/Bank/Infrastructure/Aipp/Millenium/unzipped/*.CSV
###< custom ###
